.library {
  -webkit-box-shadow: 10px 0px 35px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 35px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 35px -8px rgba(0,0,0,0.75);
  background-color: var(--white);
  width: 180px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 0.5s;
  height: 100%;

  &--open {
    width: 350px;
  }

  &__title {
    padding: 15px 5px 10px 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    height: calc(100% - 70px);
    overflow-y: auto;
  }

  h2, &__list {
    overflow-x: hidden;
  }

  &__btn {
    padding-top: 5px;
  }

  @media only screen and (max-width: 768px) {
    width: 0;

    &--open {
      width: 320px;
    }

    &__btn {
      position: absolute;
      top: 0;
      right: -59px;
      height: 58px;
      background-color: white;
      padding: 12px;
    }
  }
}

.library-item {
  display: flex;
  padding: 20px 40px;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #2596be, $alpha: 0.3);
  }

  &--active {
    background-color: rgba($color: #2596be, $alpha: 0.8);
  }

  &__cover {
    border-radius: 5px;
    display: block;
    margin-right: 20px;
    height: 100px;
    width: 100px;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: calc(100% - 100px);

    h4 {
      margin-bottom: 10px;
    }
  }
}